$white: #FFF;
$black: #000;

$background: #FBFEF4;
$background-white: $white;
$primary: #37AB00;
$secondary: #FFD600;
$transparent-black-08: #00000014;
$transparent-black-20: #00000033;
$transparent-black-30: #0000004d;
$transparent-black-40: #00000066;
$transparent-black-50: #00000080;
$transparent-black-60: #00000099;
$transparent-black-70: #000000b3;
$transparent-black-80: #000000cc;
$transparent-black-90: #000000e6;

